<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>后台管理</title>     
<!-- 系统样式 -->
<link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
<!-- 自定义样式 -->          
<link rel="stylesheet" href="css/main.css" th:href="@{css/main.css}"/> 
<link rel="stylesheet" href="font/iconfont.css" th:href="@{font/iconfont.css}" />
</head>

<body>
		<!--head start -->

<div class="navbar navbar-default head-font-color">
	<div class="navbar-brand">
		<small>
        			
       			<span class="head-font-color">blog后台管理系统</span>
        			
        		</small>
	</div>
	<div class="navbar-header pull-right">
		<ul class="nav vitae-nav">
			<li>
				<a>任务</a>
			</li>
			<li>
				<a>通知</a>
			</li>
			<li>
				<a>邮件</a>
			</li>
			<li>
				<a>weicome jack</a>
			</li>

		</ul>
	</div>
</div>
<!--left menu start-->
<div class="menu-wrap">
		<div class="menu-nav">
			<!--隐藏按钮开始-->
			<div class="top-nav">
				<div id="mini"> <img src="img/mini.png" /></div>
			</div>
			<!--隐藏按钮结束-->
			<!--导航开始-->
			<ul>
				<li class="menu-nav-item">
					<a style="cursor:pointer;">
						<i class="my-icon nav-icon icon_1"></i>
						<span>用户设置</span>
					<i class="my-icon nav-more"></i>
					</a>
					
					<ul th:each="menu : ${model.list}" class="list-menu-group">
						<li>
							<a class="list-menu-group-item" href="javascript:void(0)" th:title="${menu.name}"  data-th-attr="url=${menu.url}"><span th:text="${menu.name}">用户管理</span></a>
						</li>
						
					</ul>
				</li>
				<li class="menu-nav-item">
					
					<a style="cursor:pointer;">
						<i class="my-icon nav-icon icon_2"></i>
						<span>系统设置</span>
					<i class="my-icon nav-more"></i>
					</a>
					
					<ul>
						<li>
							<a href="javascript:##"><span>网站设置</span></a>
						</li>
						<li>
							<a href="javascript:##"><span>系统设置</span></a>
						</li>
						<li>
							<a href="javascript:##"><span>系统设置</span></a>
						</li>
						<li>
							<a href="javascript:##"><span>系统设置</span></a>
						</li>
					</ul>
				</li>
				<li class="menu-nav-item">
					
					<a style="cursor:pointer;">
						<i class="my-icon nav-icon icon_2"></i>
						<span>系统设置</span>
					<i class="my-icon nav-more"></i>
					</a>
					
					<ul>
						<li>
							<a href="javascript:##"><span>网站设置</span></a>
						</li>
						<li>
							<a href="javascript:##"><span>系统设置</span></a>
						</li>
						<li>
							<a href="javascript:##"><span>系统设置</span></a>
						</li>
						<li>
							<a href="javascript:##"><span>系统设置</span></a>
						</li>
					</ul>
				</li>
				<li class="menu-nav-item">
					
					<a style="cursor:pointer;">
						<i class="my-icon nav-icon icon_2"></i>
						<span>系统设置</span>
					<i class="my-icon nav-more"></i>
					</a>
					
					<ul>
						<li>
							<a href="javascript:##"><span>网站设置</span></a>
						</li>
						<li>
							<a href="javascript:##"><span>系统设置</span></a>
						</li>
						<li>
							<a href="javascript:##"><span>系统设置</span></a>
						</li>
						<li>
							<a href="javascript:##"><span>系统设置</span></a>
						</li>
					</ul>
				</li>
			</ul>
			<!--导航结束-->
		</div>
		</div>
	
		<!--left menu end-->
		<!-- right content start -->

		<div class=" right-wrap right-wrap-margin" id="right-wrap">
		<div class="head-card">
		<div class="card">ewewe</div>
         <div class="card">ewewe</div>  
         <div class="card">ewewe</div>  
		</div>
		<div class="head-card">
		<div class="card-left">ewewe</div>
		<div class="card-right">ewewe</div>
		</div>
		</div>
       <!--head end -->
	   <!-- right content end -->
	   <!-- javascript -->
     <script src="js/jquery-3.1.1.min.js" th:src="@{js/jquery-3.1.1.min.js}"></script>
     <script src="js/main.js" th:src="@{js/main.js}"></script>	
     <script src="js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>	
     <script src="js/admin/main.js" th:src="@{js/admin/main.js}"></script>
</body>
</html>