<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header">
</head>

<body>
<!--描述：容器开始-->
<div class="container">
<div class="row">
<!--描述：左侧内容开始-->
<div class="col-md-12 col-sm-12">
	<div class="article-content">
		  <div class="article-head article-position" >
		  	<p class="article-tip">文章标题 尊重原创，请保证您的文章为原创作品</p>
		  	<select class="article-type">
                		<option>请选择</option>
                		<option>原创</option>
                		<option>原创</option>
                	</select>
                 <input type="text" class="article-title"/>
                 	
		  </div>

          <div class="summary-wrap article-position">
          	<p class="article-tip">摘要：（默认自动提取您文章的前200字显示在博客首页作为文章摘要，您也可以在这里自行编辑 ）</p>
          	<textarea id="summary">test</textarea>	
          </div>
          
		  <div class="content-wrap article-position">
		  	<p class="article-tip">文章内容</p>
		  	 <textarea id="content">内容</textarea>	
		  </div>	
	      <div class="upload-image article-position">
	      	<input type="file" />
	      </div>
	      <div class="own-catalog article-position">
	      	<p class="article-tip">个人分类</p><br />
	      	<input type="text" />
	      </div>

	     <div class="own-tag article-position">
	      	      	<p class="article-tip">个人标签</p><br />
	      	<input type="text" />
	      </div>
	       <div class="article-btn article-position">
	      	<input type="submit" value="提交" class="btn btn-default"/> &nbsp;&nbsp;&nbsp;&nbsp;	<input type="submit" value="重置" class="btn btn-default" />&nbsp;&nbsp;&nbsp;&nbsp;		<input type="submit" value="丢弃" class="btn btn-default" />
	      </div>
	</div>
	
</div>
<!--描述：左侧内容结束-->		
</div>
</div>
<!--描述：容器结束-->
<br/>
<br/>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>