<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>博客主页</title>
</head>
<body>
<footer class="footer" data-th-fragment="footer">
	<ul>
		<li><a href="#">联系我们</a></li>
		<li>--</li>
		<li><a href="#">加入我们</a></li>
	    <li>--</li>
		<li><a href="#">联系我们</a></li>
		<li>--</li>
		<li><a href="#">联系我们</a></li>
	</ul>
	<p>Copyright © 2017, All Rights Reserved Powered By blog
</p>
<!-- javascript -->
    <script src="js/jquery-3.1.1.min.js" th:src="@{js/jquery-3.1.1.min.js}"></script>
    <script src="js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>  
    <script src="js/main.js" th:src="@{js/main.js}"></script>	
     <script src="js/main.js" th:src="@{js/jquery.validate.min.js}"></script>	
    
</footer>
</body>
</html>