
	<!-- top start -->
	<div class="top-container">
		<input type="text" id="searchkey" class="int-text" />&nbsp;&nbsp;<img src="img/search.png" style="width:30px;height:30px;cursor:pointer;" id="searchNameBtn"/>&nbsp;&nbsp;&nbsp;&nbsp;
			
			<button 
			class="btn btn-default" data-toggle="modal" data-target="#addtip"  id="addUser">新增用户</button>
	</div>
	<!-- top end -->
	<div id="mainContainerRepleace">
	<div class="xt-table" >
		<table cellpadding="0" cellspacing="0" border="0" bgcolor="#dcdcdc"
			width="100%" id="tb" style="table-layout: fixed;">

			<tr>
				<th>用户姓名</th>
				<th>注册时间</th>
				<th>用户名</th>
				<th>密码</th>
				<th>权限</th>
				<th>邮箱</th>
				<th>操作</th>
			</tr>

			<tbody>
				<tr th:each="user : ${userModel.userlist}">
					<td th:text="${user.name}">王工</td>
					<td th:text="${user.registerTime}">2017.12.9</td>
					<td th:text="${user.username}">vitae</td>
					<td style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;" th:text="${user.password}" th:title="${user.password}"></td>
					<td th:text="${user.authorities}">ADMIN</td>
					<td th:text="${user.email}">XXXXXXXXXXX@QQ.com</td>
					<td><a href="#" class="my-icon edit editUser" title="编辑" data-toggle="modal"
								data-target="#addtip" role="button"
								data-th-attr="userId=${user.id}"></a> <a href="#" class="my-icon delete deleteUser" data-th-attr="userId=${user.id}" title="删除"></a></td>
				</tr>
				
			</tbody>

		</table>
		<div th:replace="fragments/page :: page"></div>
	</div>
	</div>
	<!-- 模态框 -->
	<div class="modal fade" id="addtip"  tabindex="-1" role="dialog" aria-labelledby="addtipLabel" aria-hidden="true">
	
		<div class="modal-dialog" style="width:28%;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" 
						aria-hidden="true">×
				</button>
				<h4 class="modal-title" id="myModalLabel">
					用户增加&nbsp;/&nbsp;编辑
				</h4>
			</div>
			<div class=" modal-body" id="userFormContainer">
			
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" 
						data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" id="submitEdit">
					提交
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
	
	
	
	</div>
	
	  <!-- javascript -->
     <script src="js/jquery-3.1.1.min.js" th:src="@{js/jquery-3.1.1.min.js}"></script>
     <script src="js/admin/main.js" th:src="@{js/admin/main.js}"></script>