/*
*初始化样式
*/
*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
a:after{
	text-decoration: none;
}
ul li{
	list-style: none;
}
/**
 * 头部样式
 */

.btn-login{
	background-color: darkgray;
}
.btn-register{
	border-radius: 10px;
	border: 1px solid orangered;
	color: red;
}
.search{
	transition: width .5s;
	-webkit-transition: width .5s;
}
.btn-write{
	border-radius: 17px;
}
/**
 * 左侧内容样式
 */
.left-card{
	margin-bottom: 15px;background-color: #fff;padding: 10px;width: 100%;  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;border:.0625rem solid #e5e5e5;border-radius:5px;
}
.footer-detail{
	
	font-style: italic;
	font-size: 10px;
}
.left-card img{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	margin-bottom:4px;
}
/**
 * 右侧内容样式
 */
.right-card{
	float: right;
	margin-bottom: 15px;background-color: #fff;padding: 4px;width: 100%;border:.0625rem solid #e5e5e5;border-radius:5px;
}
.hot-user{
	padding: 6px;
}
.hot-user img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 2px;
}
.tag{
	padding: 3px;
	background-color: #F1F2F1;
	display: inline-block;
	margin: 4px;
}
.tag a:hover{
	text-decoration: none;
	color: white;
}
.tag:hover{
	background-color: #000000;
}
.hot-title{
	padding-left: 14px;
	line-height: 28px;
}
.split{
	width: 13px;
	color: royalblue;
	margin-right: 3px;
}
/**
 * 版权样式
 */
.footer{
	text-align: center;
	
}
.footer ul li{
	display: inline;
}
/**
 * 登录模块样式
 */
#login{
	width: 100%;
	height: 400px;
   border: 3px solid #FFFFFF;
   border-radius: 6px;
   padding-top: 20px;
	padding-left: 80px;
	padding-right: 80px;
	margin-top: 70px;
	text-align: center;
}
.form-button{
	margin:0 auto;
}
.third-login{
	text-align: left;
}
.remember-me{
	float: left;
}
.forget-pass{
	float: right;
}
.btn-login-button{
	width: 150px;
}
.error{
	color:red;
}
/**
*管理员样式开始
**/
/*head start*/

.navbar-default {
	background-color: #2A94DE;
	border-radius:0px;
	padding:0;	
}

.head-font-color {
	color: white;
	font-size: 20px;
}

.vitae-nav {
	margin: 0 !important;
	padding-right: 10px;
}

.vitae-nav li {
	float: left;
}

.vitae-nav li a {
	height: 50px;
	min-width: 40px;
	color:#fff;
}
.vitae-nav li a:hover {
	color:#000;
}
.vitae-nav>li.open a {
	background-color: #f3f3f3!important;
}

.gray {
	color: #777777;
}


/*head end*/

/*left menu start*/
.menu-wrap{
	height:93%;
	margin-top:-21px;
	position:absolute;
}
#mini {
	border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.menu-nav {
	width: 220px;
	height: 100%;
	margin-right:10px;
	position:abolute;
	background-color: #263238;
}
.menu-nav a {
	display: block;
	padding-left: 20px;
	overflow: hidden;
	line-height: 46px;
	max-height: 46px;
	color: #ABB1B7;
	transition: all .3s;
}

.menu-nav a span {
	margin-left: 30px;
}
.menu-nav-item{
	position: relative;
	background: rgba(0,0,0.1);
}
/*隐藏ul*/
.menu-nav-item ul{
    display: none;
	background: rgba(0,0,0.1);
}
/*显示ul*/
.menu-nav .nav-show ul{display: block;}
.menu-nav-item>a:before{content:"";position: absolute;left: 0px;width: 2px;height: 45px;background:#34A0CE;opacity: 0;transition: all .3s;}
.menu-nav .nav-icon{font-size: 20px;position: absolute;margin-left: -1px;}
/* 此处修改导航图标 可自定义iconfont 替换*/
.icon_1::after{content: "\e624";}
.icon_2::after{content: "\e62a";}
.icon_3::after{content: "\e61d";}
.nav-more{float: right;font-size: 12px;margin-right: 20px;transition: transform .3s;}
/* 此处为导航右侧箭头 如果自定义iconfont 也需要替换*/
.nav-more::after{content: "\e623";}
/*3D转换*/
.nav-show .nav-more{transform:rotate(90deg);}
.nav-show,.menu-nav-item>a:hover{color: #FFF;background:rgba(0,0,0,.1);}
.menu-nav-item li:hover a{color: #FFF;background: rgba(0,0,0,.1);}
/*菜单缩略样式*/
.menu-nav-mini.menu-nav{width: 60px;}
.mebu-nav-mini .nav-more{margin-right: -20px;}
.menu-nav-mini .menu-nav-item>a span{display: none;} 
.menu-nav-mini .menu-nav-item ul{position: absolute;left: 60px;width:180px;top: 0;overflow: hidden;z-index: 99;background:#3C474C;}
.menu-nav-mini .menu-nav-item:hover a{color:#FFF}
.menu-nav-mini .menu-nav-item:hover ul{display: block;}
.menu-nav-mini .menu-nav-item:hover{background:rgba(255,255,255,.1)}
.menu-nav-mini .menu-nav-item:hover a:before{opacity: 1;}
/*left menu end*/
/*
*管理员主内容区样式
*/
.right-wrap-click{margin-left:66px;}
.right-wrap-margin{margin-left: 220px;}
.right-wrap{position: relative; width: auto; height:90%;}
/*表格样式*/
.xt-table{ margin: 20px; border: 1px solid #dcdcdc;}
.xt-table td,.xt-table th{ background: #fff;padding:6px;}
.xt-table th{ background: #EEE; border:1px solid #eee; text-align:center}
.xt-table tr{text-align:center;}
.xt-table tr.xt-bg td{ background: #f9fafa;}
.xt-table tr td a{ padding: 3px 5px; text-decoration: none; border-radius: 5px; display: inline-block; margin: 0 2px;}
.xt-table tr:hover td{ background: #fff; color: #fff;background: #2A94DE}
.xt-table tr:hover td a:hover{color: #baa01b; background: #f5e17a;}
/*分页样式*/
.page-style{text-align:center;}
.page-style ul li a{margin-right:16px;border-radius:none;}
.page-style ul li a:hover{border:1px solid blue}
/*顶部快捷操作*/
.top-container{margin:20px;background: #fff; border: 1px solid #dcdcdc;overflow: hidden;padding:4px;}
/* input */
.xt-input{ background: #eee; padding: 10px 20px; margin: 20px; border: 1px solid #dcdcdc;}
.xt-input span,.xt-input input,.xt-input select{ display: inline-block; vertical-align: middle;}
.xt-input span{ padding: 0 5px;}
.int-text{ padding: 6px 10px; border: 1px solid #dcdcdc;}
/*主页卡片样式*/
.card{
	width:31%;
	float:left;
	height:130px;
	margin:2px 10px;
	background-color:gray;
}
.card-left{
	width:64%;
	float:left;
	height:130px;
	margin:20px 10px;
	background-color:gray;
}
.card-right{
	width:31%;
	float:left;
	height:230px;
	margin:20px 10px;
	background-color:gray;
}
/*用户操作界面样式*/
.search::after{content: "\e6df";}
.edit::after{content: "\e602";}
.delete::after{content: "\e600";}
/*编辑和增加容器样式*/
.userFormContainer{
	display:none;
	padding:5px;
	position:relative;
	margin-top:-200px;
	margin-left:auto;
	margin-right:auto;
	border-radius:5px;
	z-index:999;
	background-color:gray;
	width:330px;
	height:370px;
	text-align:center;
	filter:alpha(Opacity=80);-moz-opacity:0.9;opacity: 0.9;
}
.input-group-admin{
	width:100%;
}
/*用户个人中心user.html样式*/

.user-info{
text-align: center;	
}
.user-info img{
	width: 140px;
	height: 160px;
	border-radius: 10%;
}
.user-info a{
	display: inline-block;
	background-color: darkgray;
	width: 50px;
	height: 20px;
	padding: 2px;
	margin-top: 6px;
}
.user-catalog{
	margin: 0 auto;
	width:80%;
	text-align: center;
}
.user-catalog ul li:hover{
	background-color: lightgray;
}
.add-catalog{
	margin: 3px;
}
/**
 * 文章详情界面edit.html编辑样式
 */

.article-head{
	margin-bottom: 12px;
}
.article-type{
	padding: 2px;
	width: 100px;
	height: 25px;
	float: left;
}
.article-title{
	float: left;
	width:600px;
	height: 25px;
}

.article-content{
	margin: 0 auto;
	padding: 0 90px;
	text-align: left;
}
#summary{
	width: 100%;
	height: 100px;
}
#content{
	width: 100%;
	height: 500px;
}
.article-tip{
	color: #999;
}
.upload-image{
border: 1px solid #000;
height: 100px;
}
.article-position{
	float: left;
	width: 100%;
	margin-top: 10px;
}
.own-catalog{
	
}
.article-btn{
	text-align: center;
}
/**
 * 文章详情界面样式
 */
.left-content-detail{
	border: 1px dotted red;
	height: auto;
	padding: 10px;
	background-color: #fff;
	border:.0625rem solid #e5e5e5;border-radius:5px;
}
.left-content-menu{
		border: 1px dotted red;
		height: 400px;
		background-color: #fff;
		border:.0625rem solid #e5e5e5;border-radius:5px;
}
.article-operate-info{
	float: right;
	padding-right: 50px;
}
.article-type{
	padding: 2px;
	width: 36px;
	height: 23px;
	border: 1px solid #C0C0C0;
	margin-right: 20px;
	margin-top: -2px;
}
.publish-comment{
	margin-top: 10px;
	background-color: #fff;
	width: 100%;
	text-align: right;
	height: 150px;
	padding: 20px;
	border:.0625rem solid #e5e5e5;border-radius:5px;
}
.publish-comment-content{
	border: 1px solid #f4f4f4;
	width: 100%;
	height: 75px;
	margin 0 auto;
}
/*
 *评论区样式
 * */
.comment{
	margin-top: 10px;
	background-color: #fff;
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 1px;
	border:.0625rem solid #e5e5e5;border-radius:5px;
}
.comment-detail{
	padding: 10px;
}
.comment-detail img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.comment-user-head-wrap{
	width:100%;
}
.comment-user-head{
	float: left;
	margin-right: 10px;
}
.comment-user-info{
	float: left;
}
.comment-user-content{
	margin-top: 50px;
	padding-left: 50px;

}
.user-comment-answer{
	float: right;
}