<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>

<body>
<!--描述：左侧内容开始-->
<div class="container">
<div class="row">
<div class="col-md-8 col-sm-12">
	<aside>
	<article class="left-card">
		<header>
			<h3><a href="#">测试标题测试标题测试标题</a></h3>
		</header>
		<div>
			<p>博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容</p>
		</div>
		<footer class="footer-detail">
			<img src="img/world-map.png" />&nbsp;
		攀登者发表&nbsp;&nbsp;时间<time datetime="2017-12-13">2017年12月13日</time>
		&nbsp;阅读量(1000+)
		&nbsp;评论量(2000)
		&nbsp;点赞(1000)
		</footer>
	</article>
	<article class="left-card">
		<header>
			<h3><a href="#">测试标题测试标题测试标题</a></h3>
		</header>
		<div>
			<p>博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容</p>
			
		</div>
		<footer class="footer-detail">
			<img src="img/world-map.png" />&nbsp;
		攀登者发表&nbsp;&nbsp;时间<time datetime="2017-12-13">2017年12月13日</time>
		&nbsp;阅读量(1000+)
		&nbsp;评论量(2000)
		&nbsp;点赞(1000)
		</footer>
	</article>
	<article class="left-card">
		<header>
			<h3><a href="#">测试标题测试标题测试标题</a></h3>
		</header>
		<div>
			<p>博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容</p>
			
		</div>
		<footer class="footer-detail">
			<img src="img/world-map.png" />&nbsp;
		攀登者发表&nbsp;&nbsp;时间<time datetime="2017-12-13">2017年12月13日</time>
		&nbsp;阅读量(1000+)
		&nbsp;评论量(2000)
		&nbsp;点赞(1000)
		</footer>
	</article>
	<article class="left-card">
		<header>
			<h3><a href="#">测试标题测试标题测试标题</a></h3>
		</header>
		<div>
			<p>博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容</p>
			
		</div>
		<footer class="footer-detail">
			<img src="img/world-map.png" />&nbsp;
		攀登者发表&nbsp;&nbsp;时间<time datetime="2017-12-13">2017年12月13日</time>
		&nbsp;阅读量(1000+)
		&nbsp;评论量(2000)
		&nbsp;点赞(1000)
		</footer>
	</article>
	<article class="left-card">
		<header>
			<h3><a href="#">测试标题测试标题测试标题</a></h3>
		</header>
		<div>
			<p>博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容</p>
			
		</div>
		<footer class="footer-detail">
			<img src="img/world-map.png" />&nbsp;
		攀登者发表&nbsp;&nbsp;时间<time datetime="2017-12-13">2017年12月13日</time>
		&nbsp;阅读量(1000+)
		&nbsp;评论量(2000)
		&nbsp;点赞(1000)
		</footer>
	</article>
	<article class="left-card">
		<header>
			<h3><a href="#">测试标题测试标题测试标题</a></h3>
		</header>
		<div>
			<p>博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容博客测试内容</p>
			
		</div>
		<footer class="footer-detail">
			<img src="img/world-map.png" />&nbsp;
		攀登者发表&nbsp;&nbsp;时间<time datetime="2017-12-13">2017年12月13日</time>
		&nbsp;阅读量(1000+)
		&nbsp;评论量(2000)
		&nbsp;点赞(1000)
		</footer>
	</article>
	</aside>
</div>
<!--描述：左侧内容结束-->		
<!--描述：右侧内容开始-->		
<div class="col-md-4 col-sm-12">
	<article class="right-card">
	       <header>
	       		<h3><span class="split">|</span>热门标签</h3>
	       		<hr />
	       </header>
	       <article>
	             			              <span class="tag"><a href="#" title="标签">标签1</a></span>
	              			            <span class="tag"><a href="#" title="标签">标签1</a></span>  
	              		              <span class="tag"><a href="#" title="标签">标签1</a></span>  
	              		            <span class="tag"><a href="#" title="标签">标签1</a></span>  
	             		          <span class="tag"><a href="#" title="标签">标签1</a></span>  
	                            <span class="tag"><a href="#" title="标签">标签1</a></span>  
	                          <span class="tag"><a href="#" title="标签">标签1</a></span>  
	                         <span class="tag"><a href="#" title="标签">自定义模板</a></span>  
	                       <span class="tag"><a href="#" title="标签">标签1</a></span>  
	                     <span class="tag"><a href="#" title="标签">标签1</a></span>  
	                   <span class="tag"><a href="#" title="标签">标签1</a></span>  
	                      <span class="tag"><a href="#" title="标签">标签1</a></span>  
	                       <span class="tag"><a href="#" title="标签">标签1</a></span>  
	                        <span class="tag"><a href="#" title="标签">标签1</a></span>  
	                         <span class="tag"><a href="#" title="标签">标签1</a></span>  
	                           <span class="tag"><a href="#" title="标签">自定义模板</a></span>  
	                            <span class="tag"><a href="#" title="标签">标签1</a></span>  
	                              <span class="tag"><a href="#" title="标签">标签1</a></span>  
	                                <span class="tag"><a href="#" title="标签">标签1</a></span>  
	              
	              
	       </article>					
	</article>
	<article class="right-card">
	       <header>
	       		<h3><span class="split">|</span>热门用户</h3>
	       		<hr />
	       </header>
	       <article class="hot-user">
	         <a href="#" title="热门用户"><img src="img/world-map.png"/></a>     
	          <a href="#" title="热门用户"><img src="img/world-map.png"/></a>       
	           <a href="#" title="热门用户"><img src="img/world-map.png"/></a>   
	         <a href="#" title="热门用户"><img src="img/world-map.png"/></a>   
	           <a href="#" title="热门用户"><img src="img/world-map.png"/></a>   
	            <a href="#" title="热门用户"><img src="img/world-map.png"/></a>   
	              <a href="#" title="热门用户"><img src="img/world-map.png"/></a>   
	               <a href="#" title="热门用户"><img src="img/world-map.png"/></a>   
	                <a href="#" title="热门用户"><img src="img/world-map.png"/></a>   
	                 <a href="#" title="热门用户"><img src="img/world-map.png"/></a>   
	                   <a href="#" title="热门用户"><img src="img/world-map.png"/></a>   
	                    <a href="#" title="热门用户"><img src="img/world-map.png"/></a>   
	                     <a href="#" title="热门用户"><img src="img/world-map.png"/></a>   
	                      <a href="#" title="热门用户"><img src="img/world-map.png"/></a>   
	                       <a href="#" title="热门用户"><img src="img/world-map.png"/></a>   
	                        <a href="#" title="热门用户"><img src="img/world-map.png"/></a>   
	                         <a href="#" title="热门用户"><img src="img/world-map.png"/></a>   
	       </article>					
	</article>
	<article class="right-card">
	       <header>
	       		<h3><span class="split">|</span>热门文章</h3>
	       		<hr />
	       </header>
	       <article class="hot-title">
	    <ol>
	    	<li><a href="#">测试文章标题测试文章标题测试文章标</a></li>
	    	<li><a href="#">测试文章标题测试文章标题测试文章标</a></li>
	    	<li><a href="#">测试文章标题测试文章标题测试文章</a></li>
	    	<li><a href="#">测试文章标题测试文章标题测试文章标题</a></li>
	    	<li><a href="#">测试文章标题测试文章标题测试文章标题章标题测试文</a></li>
	    </ol>	
	       </article>		
	</article>
	<article class="right-card">
	       <header>
	       		<h3><span class="split">|</span>关于我们</h3>
	       		<hr />
	       </header>
	       <article class="hot-title">
	    <ul>
	    	<li>联系方式：121821212&nbsp;&nbsp;&nbsp;</li>
	    	<li>个人邮箱：121821212</li>
	    	<li>个人公众号：121821212</li>
	    	<li>联系地址：XXXXXXXXX</li>
	    </ul>	
	       </article>		
	</article>
</div>
</div>
</div>

<!--描述：右侧内容结束-->	




<div th:replace="fragments/footer :: footer"></div>

</body>
</html>